.App {
    border: 3px solid #ccc;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 20px;
    padding: 50px;
    background-color: lightgrey
}

.App input {
    margin: 50px;
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: #fff;
    transition: .3s;
    font-size: 20px;

}